<div class="container">
    <h1 mat-dialog-title>Regístrate</h1>    
</div>
<div mat-dialog-content>
    <form (ngSubmit)="registro();" #envioForm="ngForm" role="form" id="mi-formulario" name="formulario1" method="POST">
        <div class="example-container">
            <mat-form-field>
                <input matInput type="text" name="nombre" #usuario placeholder="Nombre" 
                [(ngModel)]="login.nombre">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="text" name="apellido" #apelli placeholder="Apellido" 
                [(ngModel)]="login.apellido">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="password" name="pass" #password placeholder="Contraseña" 
                [(ngModel)]="login.password">
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button type="button" (click)="clickSalir();"><i class="material-icons">
    arrow_back</i>Atrás</button>
    <button mat-button type="submit" (click)="registro();"><i class="material-icons">
    send</i>Registrarse</button>
</div>